* {
  padding: 0;
  margin: 0;
}

header {
  background-color: burlywood;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}

footer {
  background-color: burlywood;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}
nav .msg {
  width: 48%;
  background-color: aqua;
  display: flex;
  display: inline;
  height: auto;
}
nav {
  width: 20%;
  margin-top: 150px;
}
.msg {
  text-align: center;
  width: 80%;
  margin-top: 300px;
}

li {
  text-decoration: none;
  padding: 50px 20px;
}
